{% extends 'backoffice.html.twig' %}

{% block body %}
    
    <div class="container col-8">

    <h1>Ajout catégories</h1>

    {{ form(form) }}
    <img width="250" id="image1" alt="">
    <img width="250" id="image2" alt="">

    </div>

    <script>
        var loadFile1=function (event){
            var image1=document.getElementById('image1')
            image1.src=URL.createObjectURL(event.target.files[0]);
        }

        var loadFile2=function (event){
            var image2=document.getElementById('image2')
            image2.src=URL.createObjectURL(event.target.files[0]);
        }

    </script>

{% endblock %}

{% block title %}

{% endblock %}

